[submodule "formal_algo/state_machine/state_machines_executor"]
	path = formal_algo/state_machine/state_machines_executor
	url = git@github.com:UmbrellaLeaf5/state_machines_executor.git
[submodule "assembly_learning/assembly_text_task"]
	path = assembly_learning/assembly_text_task
	url = git@github.com:UmbrellaLeaf5/assembly_text_task.git
